<div class="control-group">
  <%= form.label :key, :class => "control-label" %>
  <div class="controls">
    <%= form.text_field :key %>
    <p class="help-block">For boolean type globals, postfix the key with a '?'</p>
  </div>
</div>

<div class="control-group">
  <%= form.label :value, :class => "control-label" %>
  <div class="controls">
    <%= form.text_field :value %>
  </div>
</div>

<div class="form-actions">
  <%= form.submit :class => "btn btn-primary" %>
</div>
