<div class="row-fluid">
  <div class="span6 well">
    <%= form_for @global, :url => global_path(@global.id), :html => {:class => "form-horizontal"} do |form| %>
      <fieldset>
        <legend>Edit Global</legend>
        <%= render :partial => 'form', :locals => {:form => form} %>
      </fieldset>
    <% end %>
  </div>
</div>

