<div class="row">
  <div class="table">
    <table class="table-bordered table-striped">
      <thead>
        <tr>
          <th>
            Key
          </th>
          <th>
            Value
          </th>
          <th>
            Type
          </th>
          <th>
            Actions
          </th>
        </tr>
      </thead>
      <tbody>
        <% @globals.each do |g| %>
          <tr>
            <td>
              <%= g.key %>
            </td>
            <td>
              <%= g.value %>
            </td>
            <td>
              <%= g.type_name %>
            </td>
            <td>
              <%= link_to "Edit", edit_global_path(g.id) %> <%= link_to "Delete", global_path(g.id), :method => 'DELETE' %>
            </td>
          </tr>
        <% end %>
        <tr>
          <td colspan="4">
            <%= link_to 'New Global', new_global_path %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <%= will_paginate @globals %>
</div>
